.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar.bg-semi-white {
    background-color: rgb(255, 255, 255, 0.98);
  }
  
  .badge.badge-custom {
    background-color: #e5e5e5;
    font-size: .95rem;
    margin-right: 6px;
    padding: 10px;
  }
  .menu-icons {
    display: flex;
    align-items: center;
  }
  
  
  .material-icons.icon-md { 
    color: rgb(96, 96, 96);
    padding: 10px;
    font-size: 28px; 
  }
  
  .badge-large {
    font-size: 1rem;
  }
  
  .img-center {
    margin: 10px;
    margin: 10px;
  }
  

.videos {
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    border-top: 1px solid #ddd;
}

.videos_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.video {
    width: 310px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.video_thumbnail {
    width: 296px;
    height: 168px;
}
.video_thumbnail img {
object-fit: cover;
height: 100%;
width: 100%;
}

.video_details {
    display: flex;
    margin-top: 10px;

}

.author img{
    object-fit: cover;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.title{
display: flex;
flex-direction: column;
}

.title h3 {
    color: rgb(3, 3, 3,);
    line-height: 18px;
    font-size: .9rem;
    margin-bottom: 6px;
}

.title a, span{
    text-decoration: none;
    color: rgb(96, 96, 96,)
}